body {
	background:#e7e7e8;
}

header {
	margin-bottom:30px;
	/*background:purple;*/
}

header img {
	width:80px;
}

header ul {
	list-style: none;
}

header li {
	display: inline;
	margin-left:10px;
	text-transform: uppercase;
}

header nav {
	text-align: right;
	padding-top:30px;
}

header nav a {
	color:#231f20;
	font-weight: bold;
}

section#content {
	background:url(../img/couleur-3.jpg) no-repeat bottom center fixed; 

	padding:100px 20px;
}

section#content p{
	text-align: justify;
	color:#231f20;
}