@import "reset.css";
@import "1140.css";

body { 
	margin:0 0 20px 0;
	background:white;
	font-family: 'Open Sans', sans-serif;
}

html {
	font: normal 85%/2 "Lucida Grande", Helvetica, Sans-Serif;
	line-height: 1;
	text-rendering: optimizeLegibility;
}

a {
	color:#1A1B1E;
	text-decoration: none;
}

p {
	font-size: 0.85em;
	line-height: 150%;
	margin-bottom: 10px;
	text-align: justify;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 3em;
	font-weight: normal;
	text-transform:uppercase;
}

h2 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 2em;
	font-weight: normal;
	text-transform:uppercase;
	letter-spacing:2px;
	line-height:150%;
}

hr {
	margin-bottom:8px;
}



section#myself {
	background:url(../static/1.jpg) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	padding:150px 0;
	color:white;
}


.logo {
	width:80px;
}

.container-header {
	margin:0 auto;
	width:25%;
	text-align:center;
}

#about {
	margin-top:60px;
}

#about img {
	width:100%;
	border-radius:20px 20px 20px 20px;
}

#about p {
	font-size: 1em;
}

#about button.download {
	margin-top:15px;
	width:100%;
	background:#53abe3;
	border:0;
	padding:20px;
	border-radius:10px;
	color:white;
	text-transform:uppercase;
}

#about .CV {
	margin-top:50px;
}

.desc {
	margin-top:10px;
}

#project {
	margin-top:40px;
}