body {
	margin: 40px 0;
	background:#dedede;
	font-family: helvetica, tahoma, arial, sans-serif;
}

#content {
	position:absolute;
	top:50px;
	left:50px;
	width:300px;
}

#content h1 {
	color: #e3bf09;
}

.body {
  width: 220px;
  height: 285px;
  margin: 0 auto;
  position:relative;
  z-index: 1;
  border-radius: 85px 85px 0 0;
  box-shadow: inset 2px 3px 27px #c3751b;
  background: #fcda6d;
  background: -webkit-gradient(linear, right top, left top,color-stop(70%, #feee9c), color-stop(100%, #f9c959)); 
  background: -webkit-linear-gradient(right, #feee9c 70%,#f9c959 100%);
  background:    -moz-linear-gradient(right, #feee9c 70%,#f9c959 100%);
  background:     -ms-linear-gradient(right, #feee9c 70%,#f9c959 100%);
  background:      -o-linear-gradient(right, #feee9c 70%,#f9c959 100%); 
  background:         linear-gradient(to right, #feee9c 70%,#f9c959 100%);
}

.hairL, .hairR {
	position: relative;
}

.hairL ul, .hairR ul{
	list-style-type: none;
}

.hairL li {
	position: absolute;
	background:transparent;
	top:0;
	left:0;
}

.hairL li:nth-child(1){
	width:100px;
	height:50px;
	border:1px solid;
	border-color: transparent #433a35 transparent transparent;
	border-radius: 50px 50px 4px 4px;
	transform: rotate(-90deg);
	-webkit-transform-origin:right top;
	-webkit-transform: rotate(-90deg);
	-moz-transform-origin:right top;
	-moz-transform: rotate(-90deg);
	left:-50px;
}

.hairL li:nth-child(2){
	width:150px;
	height:80px;
	border:1px solid;
	border-color: transparent #433a35 transparent transparent;
	border-radius: 50px;
	transform: rotate(-110deg);
	-webkit-transform-origin:right top;
	-webkit-transform: rotate(-110deg);
	-moz-transform-origin:right top;
	-moz-transform: rotate(-110deg);
	left:-120px;
	top:12px;
}

.hairL li:nth-child(3){
	width:150px;
	height:80px;
	border:1px solid;
	border-color: transparent #433a35 transparent transparent;
	border-radius: 50px;
	transform: rotate(-105deg);
	-webkit-transform-origin:right top;
	-webkit-transform: rotate(-105deg);
	-moz-transform-origin:right top;
	-moz-transform: rotate(-105deg);
	left:-120px;
	top:6px;
}


.hairL li:nth-child(4){
	width:180px;
	height:100px;
	border:1px solid;
	border-color: transparent #433a35 transparent transparent;
	border-radius: 50px;
	transform: rotate(-100deg);
	-webkit-transform-origin:right top;
	-webkit-transform: rotate(-100deg);
	-moz-transform-origin:right top;
	-moz-transform: rotate(-100deg);
	left:-168px;
	top:0;
}

.hairL li:nth-child(5){
	width:180px;
	height:100px;
	border:1px solid;
	border-color: transparent #433a35 transparent transparent;
	border-radius: 50px;
	transform: rotate(-96deg);
	-webkit-transform-origin:right top;
	-webkit-transform: rotate(-96deg);
	-moz-transform-origin:right top;
	-moz-transform: rotate(-96deg);
	left:-168px;
	top:-6px;
}

.hairR {
	-webkit-transform: scaleX(-1); 
       -moz-transform: scaleX(-1); 
        -ms-transform: scaleX(-1); 
         -o-transform: scaleX(-1); 
            transform: scaleX(-1);
			
}

.hairR li {
	position: absolute;
	background:transparent;
	width:100px;
	height:50px;
	margin-left:0;
}

.hairR li:nth-child(1){
	width:100px;
	height:50px;
	border:1px solid;
	border-color: transparent #433a35 transparent transparent;
	border-radius: 50px 50px 4px 4px;
	transform: rotate(-90deg);
	-webkit-transform-origin:right top;
	-webkit-transform: rotate(-90deg);
	-webkit-transform-origin:right top;
	left:-50px;
}

.hairR li:nth-child(2){
	width:150px;
	height:80px;
	border:1px solid;
	border-color: transparent #433a35 transparent transparent;
	border-radius: 50px;
	transform: rotate(-110deg);
	-webkit-transform-origin:right top;
	-webkit-transform: rotate(-110deg);
	-webkit-transform-origin:right top;
	left:-120px;
	top:12px;
}

.hairR li:nth-child(3){
	width:150px;
	height:80px;
	border:1px solid;
	border-color: transparent #433a35 transparent transparent;
	border-radius: 50px;
	transform: rotate(-105deg);
	-webkit-transform-origin:right top;
	-webkit-transform: rotate(-105deg);
	-webkit-transform-origin:right top;
	left:-120px;
	top:6px;
}


.hairR li:nth-child(4){
	width:180px;
	height:100px;
	border:1px solid;
	border-color: transparent #433a35 transparent transparent;
	border-radius: 50px;
	transform: rotate(-100deg);
	-webkit-transform-origin:right top;
	-webkit-transform: rotate(-100deg);
	-webkit-transform-origin:right top;
	left:-168px;
	top:0;
}

.hairR li:nth-child(5){
	width:180px;
	height:100px;
	border:1px solid;
	border-color: transparent #433a35 transparent transparent;
	border-radius: 50px;
	transform: rotate(-96deg);
	-webkit-transform-origin:right top;
	-webkit-transform: rotate(-96deg);
	-webkit-transform-origin:right top;
	left:-168px;
	top:-6px;
}

.glasses-left, .glasses-right {
	position: absolute;
	width:80px;
	height:80px;
	background:#fffdfc;
	border-radius: 50px;
	top:50px;
	left:30px;
	background: #eaeaea; /* Old browsers */
background: -moz-linear-gradient(top,  #eaeaea 0%, #c1bcac 25%, #c1bcac 75%, #eaeaea 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(25%,#c1bcac), color-stop(75%,#c1bcac), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #eaeaea 0%,#c1bcac 25%,#c1bcac 75%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #eaeaea 0%,#c1bcac 25%,#c1bcac 75%,#eaeaea 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #eaeaea 0%,#c1bcac 25%,#c1bcac 75%,#eaeaea 100%); /* IE10+ */
background: linear-gradient(to bottom,  #eaeaea 0%,#c1bcac 25%,#c1bcac 75%,#eaeaea 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
	box-shadow: inset 1px 2px 10px white;
	box-shadow: 1px 1px 10px #bb791f;
	z-index: 5;
  }

.glasses-right {
	margin-left: 80px;
	-webkit-transform: scaleX(-1); 
       -moz-transform: scaleX(-1); 
        -ms-transform: scaleX(-1); 
         -o-transform: scaleX(-1); 
            transform: scaleX(-1);
}

.eye {
	position: relative;
	left:10px;
	top:10px;
	width:60px;
	height:60px;
	background: #fcda6d;
	border-radius: 50px;
	overflow: hidden;
}

.pupil {
	width:80px;
	height:50px;
	background: white;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
	margin: 5px 0 0 -10px;
}

.iris {
	position: absolute;
	width:20px;
	height:20px;
	background: #a9624c; /* Old browsers */
background: #a9624c; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #a9624c 31%, #482d2a 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(31%,#a9624c), color-stop(100%,#482d2a)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #a9624c 31%,#482d2a 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #a9624c 31%,#482d2a 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #a9624c 31%,#482d2a 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #a9624c 31%,#482d2a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9624c', endColorstr='#482d2a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	border-radius: 50px;
	left:30px;
	top:25px;
}

.iris-black {
	width:10px;
	height:10px;
	background:#2d2522;
	border-radius: 50px;
	margin:5px;
}

.iris-light {
	position: absolute;
	width:4px;
	height:4px;
	background:white;
	border-radius: 50px;
	top:5px;
	left:5px;
}

.reflect {
	position: absolute;
	top:0;
	left:0;
	width:60px;
	height:60px;
	background: transparent;
	border-radius: 50px;
	box-shadow: inset 2px 2px 10px #1a130d;
}

.mouth {
	position: absolute;
	top:125px;
	left:70px;
	
}

.lip {
	width:80px;
	height:50px;
	background: #d08b23;
	border-bottom: 1px solid #d08b23;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
	box-shadow: 0px 0px 12px #d08b23;
	z-index:2;
}

.mouth-hover {
	position: absolute;
	width:100px;
	height:60px;
	background: #feee9c;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
	z-index: 3;
	top:-11px;
	left:-10px;
}

.pocket {
	position: absolute;
	top:210px;
	left:30px;	
	background:url(1.jpg) #6998bd;
	background-size:50%;
	height:100px;
	width:160px;
	box-shadow: 0px -5px 18px -5px black;
}

.pant {
	position: absolute;
	top:280px;
	left:0;	
	background:url(1.jpg) #6998bd;
	background-size:50%;
	height:50px;
	width:220px;
	border-radius: 0px 0px 50px 50px;
}

.legs {
	position: absolute;
	top:320px;
	left:60px;	
	background:transparent;
	height:70px;
	width:120px;
}

.legL, .legR {
	position: absolute;
	
}

.legR {
	margin-left: 60px;
	-webkit-transform: scaleX(-1); 
       -moz-transform: scaleX(-1); 
        -ms-transform: scaleX(-1); 
         -o-transform: scaleX(-1); 
            transform: scaleX(-1);
}

.knee {
	width:40px;
	height:30px;
	background:#6998bd;
}
.foot {
	width:40px;
	height:20px;
	background:black;
}

.shadow {
	position: absolute;
	top:360px;
	left:-40px;
	width:300px;
	height:50px;
	background: rgba(50,50,50,0.2);
	-moz-border-radius: 300px / 50px;
	-webkit-border-radius: 300px / 50px;
	border-radius: 300px / 50px;
	box-shadow: 0px 0px 12px rgba(50,50,50,0.2);
	z-index:-1;
}
